################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab_3_C/ReplaceStringLibrary/.vs/ReplaceStringLibrary/v16
/Lab_3_C/StaticLink/.vs/StaticLink/v16
